body {
    min-height: 100vh;
}


.bg-img-1 {
    background-image: url("./img/carrusel/concierto.jpg");
}

.bg-img-2 {
    background-image: url("./img/carrusel/festival.jpg");
}

.bg-img-3 {
    background-image: url("./img/carrusel/exposiciones.jpg");
}

.bg-img-4 {
    background-image: url("./img/carrusel/actsairelibre.jpg");
}

.imagen-carrusel {
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}