body {
    font-family: "Poppins", sans-serif;
}

.sombra-card {
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.animacion-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animacion-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.boton-personalizado {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el efecto */
}

.boton-personalizado:hover {
    transform: scale(1.1); /* Agranda ligeramente el botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra al pasar el mouse */
}


.c-item {
    height: 500px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}

.reset-margin{
    margin: 0;
}

.reset-padding {
    padding: 0;
}

.sombra-form {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.footer-gradient {
    background: linear-gradient(135deg, #2c2c2c, #121212); /* Gris oscuro a casi negro */
}
