body {
    font-family: "Poppins", sans-serif;
}

.c-item {
    height: 500px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}

.reset-margin{
    margin: 0;
}

.reset-padding {
    padding: 0;
}